*{ margin: 0; padding: 0; box-sizing: border-box;}

.carousel-inner img{
    width: 100%;
    height: 90vh;
}

.aboutimg{
    width: 100%;
    height: 250px!important;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

